@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    font-size: 12px;
}

.container{
    margin: auto;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    width: 100%;
}

header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
}

header .soon{
    display: flex;
    width: 30%;
    justify-content: center;
    height: 100%;
}



header h1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.registration{
    display: flex;
    flex-direction: column;
    background-color: #093984;
    align-items: center;
    color: white;
    padding: 10px 0;
    font-size:10px
}

.registration h2{
    font-size: 2rem;
    width: 80%;
    text-align: center;
    justify-content: center;
    
}

.registration form{
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px auto;
}

.registration-item{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.registration-item input, select{
    width: 100%;
    height: 20px;
}

select{
    height:25px;
}

.submit{
    background-color: #FF6347;
    padding: 5px;
    color: white;
    border: none;
}

.wraper{
    display: flex;
    width: 95%;
    margin: 10px auto 0;
}

.wraper .wrap-img{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-content-h1-borda::before{
    content: "";
    width: 3px;
    height: 50px;
    margin-right: 5px;
    background-color: #093984;
}
.justify-content-center{
    align-items: center;
    text-align: center;
}

.justify-content-flex-start{
    align-items:flex-start;
}

.width50{
    width: 50%;
}

.wrap-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-content h1{
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    color: #093984;
}

.wrap-content img, p{
    width: 80%;
    margin: 10px 0;
}

.wrap-content img{
    width: 100%;
    margin: 10px 0;
    box-shadow: black 1px 1px 10px;
}

.wrap-content p{
    font-size: 1rem;
}

.wrap-img img{
    width: 100%;
}

.o1{
    order:1;
}

.o2{
    order:2;
}

li{
    margin-left: 15px;
}

ul{
    font-size: 1rem;
}

.wraper .wrap-img-cursos{
    flex-grow: 1;
    width: 50%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wraper .wrap-img-cursos{
    flex-grow: 1;
    width: 50%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wraper a {
    padding: 10px;
    font-size: 1.5rem;
    background-color: #FF6347;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.wrap-img-cursos img{
    width: 45%;
    margin-bottom: 5px;
    cursor:pointer;
}

.wrap-img-cursos img:hover{
    position: absolute;
    margin-bottom: 5px;
    width: 30%;
}

footer{
    width: 100%;
    background-color: #093984;
    padding: 10px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1{
    font-size: 24px;
}
footer main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

main .social-media{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main .contacts{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

main nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5px 0;
}

main p{
    margin: 2px 0;
    width: 100%;
}

main img{
    width: 2em;
    margin-right: 5px;
    
}

@media (max-width:970px) {
    header h1{
        font-size: 2rem;
    }

    .registration h2{
        font-size: 1.5rem;
        width: 80%;
        
    }

    .wrap-content-h1-borda::before{
        height: 30px;
    }

    .wraper a {
        font-size: 1rem;
        margin-top: 20px;
    }

    .wrap-content p, ul{
        font-size: 0.8rem;
    }

    
}


@media (max-width:731px) {
    header h1{
        font-size: 1.5rem;
    }

    .wrap-content p, ul{
        font-size: 0.6rem;
    }
    

    .wraper a {
        font-size: 0.6rem;
        margin-top: 10px;
    }
    

    .registration h2{
        font-size: 1.0rem;
        width: 80%;
        
    }

    .wrap-content-h1-borda::before{
        height: 20px;
    }

    header{
        height: 30px;
    }
}

@media (max-width:496px) {
    header h1{
        font-size: 1rem;
    }

    .wrap-content-h1-borda::before{
        height: 10px;
    }

    .registration h2{
        font-size: 0.7rem;
        width: 95%;
    }

    .wraper a {
        font-size: 0.4rem;
        margin-top: 5px;
    }

    .wrap-content p, ul{
        font-size: 0.6rem;
    }
}